In [6]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import random
import matplotlib.pyplot as plt

In [7]:
# Load the dataset into a DataFrame
df = pd.read_csv('master.csv')

In [8]:
# Filter the DataFrame to include only rows where the country is USA
data = df[df['country'] == 'USA']
data.head()

Empty DataFrame
Columns: [country, year, sex, age, suicides_no, population, suicides/100k pop, country-year, HDI for year,  gdp_for_year ($) , gdp_per_capita ($), generation]
Index: []

In [9]:
# Print unique values in the 'country' column
print(df['country'].unique())

['Albania' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Barbados' 'Belarus' 'Belgium'
 'Belize' 'Bosnia and Herzegovina' 'Brazil' 'Bulgaria' 'Cabo Verde'
 'Canada' 'Chile' 'Colombia' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Denmark' 'Dominica' 'Ecuador' 'El Salvador' 'Estonia'
 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Greece' 'Grenada'
 'Guatemala' 'Guyana' 'Hungary' 'Iceland' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Kazakhstan' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Latvia'
 'Lithuania' 'Luxembourg' 'Macau' 'Maldives' 'Malta' 'Mauritius' 'Mexico'
 'Mongolia' 'Montenegro' 'Netherlands' 'New Zealand' 'Nicaragua' 'Norway'
 'Oman' 'Panama' 'Paraguay' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Romania' 'Russian Federation'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and Grenadines'
 'San Marino' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia'
 'South Africa' 'Spain' 'Sri Lanka' 'Suriname' 'Sweden' 'Switzerland'
 'Thailand' 'Trinidad and Tobago' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan']

In [10]:
# Filter the DataFrame to include only rows where the country is USA or 'United States'
usa_data = df[df['country'].isin(['USA', 'United States'])]
usa_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
26848,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,"4,346,734,000,000",19693,G.I. Generation
26849,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,"4,346,734,000,000",19693,G.I. Generation
26850,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,"4,346,734,000,000",19693,Boomers
26851,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,"4,346,734,000,000",19693,Silent
26852,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,"4,346,734,000,000",19693,Generation X

In [11]:
# Drop 'gdp_for_year ($)' and 'gdp_per_capita ($)' columns
columns_to_drop = [' gdp_for_year ($) ', ' gdp_per_capita ($)']
clean_data= usa_data.drop(columns=columns_to_drop, errors='ignore')
clean_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_per_capita ($),generation
26848,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,19693,G.I. Generation
26849,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,19693,G.I. Generation
26850,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,19693,Boomers
26851,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,19693,Silent
26852,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,19693,Generation X

In [12]:
# Filter the DataFrame to include only rows where the country is USA or 'United States' and the sex is 'male'
usa_male_data = clean_data[(clean_data['country'].isin(['USA', 'United States'])) & (clean_data['sex'] == 'male')]
usa_male_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_per_capita ($),generation
26848,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,19693,G.I. Generation
26849,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,19693,G.I. Generation
26850,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,19693,Boomers
26851,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,19693,Silent
26852,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,19693,Generation X

In [13]:
# Filter the DataFrame to include only rows where the country is USA or 'United States' and the sex is 'female'
usa_female_data = clean_data[(clean_data['country'].isin(['USA', 'United States'])) & (clean_data['sex'] == 'female')]
usa_female_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_per_capita ($),generation
26853,United States,1985,female,35-54 years,2105,27763000,7.58,United States1985,0.841,19693,Silent
26854,United States,1985,female,55-74 years,1568,21366000,7.34,United States1985,0.841,19693,G.I. Generation
26855,United States,1985,female,75+ years,466,7469000,6.24,United States1985,0.841,19693,G.I. Generation
26856,United States,1985,female,25-34 years,1242,21041000,5.90,United States1985,0.841,19693,Boomers
26857,United States,1985,female,15-24 years,854,19589000,4.36,United States1985,0.841,19693,Generation X

In [14]:
drug_overdose = pd.read_csv("drugoverdose.csv")
drug_overdose

,race_ethnicity,year,overdose_death_rate,overdose_death_count,population_size,data_as_of,data_loaded_at
0,All races,2022,78.5,635,808437,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
1,"Asian/Pacific Islander, Non-Hispanic/Latinx",2022,10.5,35,332462,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
2,"Black/African American, Non-Hispanic/Latinx",2022,399.7,166,41531,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
3,Hispanic/Latinx,2022,96.8,124,128162,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
4,"White, Non-Hispanic/Latinx",2022,84.6,259,306282,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
5,All races,2021,76.4,623,815201,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
6,"Asian/Pacific Islander, Non-Hispanic/Latinx",2021,7.8,26,334298,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
7,"Black/African American, Non-Hispanic/Latinx",2021,430.4,179,41592,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
8,Hispanic/Latinx,2021,78.9,101,128030,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
9,"White, Non-Hispanic/Latinx",2021,83.5,260,311281,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
10,All races,2020,80.5,698,866606,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
11,"Asian/Pacific Islander, Non-Hispanic/Latinx",2020,16.9,59,348398,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
12,"Black/African American, Non-Hispanic/Latinx",2020,387.1,168,43404,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
13,Hispanic/Latinx,2020,113.7,150,131965,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
14,"White, Non-Hispanic/Latinx",2020,81.4,279,342839,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM

In [15]:
# Drop the specified columns
cleaned_drug_data = drug_overdose.drop(columns=["data_as_of", "data_loaded_at"])
cleaned_drug_data

,race_ethnicity,year,overdose_death_rate,overdose_death_count,population_size
0,All races,2022,78.5,635,808437
1,"Asian/Pacific Islander, Non-Hispanic/Latinx",2022,10.5,35,332462
2,"Black/African American, Non-Hispanic/Latinx",2022,399.7,166,41531
3,Hispanic/Latinx,2022,96.8,124,128162
4,"White, Non-Hispanic/Latinx",2022,84.6,259,306282
5,All races,2021,76.4,623,815201
6,"Asian/Pacific Islander, Non-Hispanic/Latinx",2021,7.8,26,334298
7,"Black/African American, Non-Hispanic/Latinx",2021,430.4,179,41592
8,Hispanic/Latinx,2021,78.9,101,128030
9,"White, Non-Hispanic/Latinx",2021,83.5,260,311281
10,All races,2020,80.5,698,866606
11,"Asian/Pacific Islander, Non-Hispanic/Latinx",2020,16.9,59,348398
12,"Black/African American, Non-Hispanic/Latinx",2020,387.1,168,43404
13,Hispanic/Latinx,2020,113.7,150,131965
14,"White, Non-Hispanic/Latinx",2020,81.4,279,342839

In [30]:
# Read the CSV file, skipping the first two rows and handling empty cells
convert_data = pd.read_csv("convertcsv.csv", skiprows=2, header=None, na_values=[""])

# Display the DataFrame
print(convert_data)

               0     1     2      3     4     5      6     7     8      9
0    Afghanistan   7.7   6.0  -1.8a   7.6   6.2  -1.7a   7.8   5.7  -2.1a
1        Albania   5.2   3.7   -2.0   7.6   5.3  -2.0a   2.9   2.2   -2.0
2        Algeria   4.7   2.6  -3.4a   5.9   3.3  -3.3a   3.5   1.9  -3.4a
3         Angola  17.6  12.6  -2.1a  30.0  21.7  -2.0a   6.2   4.7  -2.0a
4        Antigua   2.0   0.3      -   4.5   0.0      -   0.0   0.6      -
..           ...   ...   ...    ...   ...   ...    ...   ...   ...    ...
178    Venezuela   6.4   2.1  -6.2a  11.3   3.7  -6.2a   1.7   0.7  -5.6a
179     Viet Nam   7.2   7.2  +0.4a   9.4  10.6  +1.1a   5.2   4.2  -1.0a
180        Yemen   8.5   7.1  -1.1a  10.5   9.0  -1.0a   6.5   5.3  -1.3a
181       Zambia  24.0  14.4  -2.2a  35.9  25.7  -1.4a  14.5   5.3  -4.4a
182     Zimbabwe  20.0  23.6  +1.9a  28.2  37.8  +2.7a  14.2  13.5   +0.8

[183 rows x 10 columns]

In [31]:
# Manually define Row 1
row_1 = ["Country", "Both sexes", "", "", "Male", "", "", "Female", "", ""]

# Add Row 1 to the DataFrame
convert_data.loc[-1] = row_1
convert_data.index = convert_data.index + 1  # Shift the index
convert_data.sort_index(inplace=True)  # Sort the index

# Display the DataFrame
print(convert_data)

               0           1     2      3     4     5      6       7     8  \
0        Country  Both sexes               Male               Female
1    Afghanistan         7.7   6.0  -1.8a   7.6   6.2  -1.7a     7.8   5.7
2        Albania         5.2   3.7   -2.0   7.6   5.3  -2.0a     2.9   2.2
3        Algeria         4.7   2.6  -3.4a   5.9   3.3  -3.3a     3.5   1.9
4         Angola        17.6  12.6  -2.1a  30.0  21.7  -2.0a     6.2   4.7
..           ...         ...   ...    ...   ...   ...    ...     ...   ...
179    Venezuela         6.4   2.1  -6.2a  11.3   3.7  -6.2a     1.7   0.7
180     Viet Nam         7.2   7.2  +0.4a   9.4  10.6  +1.1a     5.2   4.2
181        Yemen         8.5   7.1  -1.1a  10.5   9.0  -1.0a     6.5   5.3
182       Zambia        24.0  14.4  -2.2a  35.9  25.7  -1.4a    14.5   5.3
183     Zimbabwe        20.0  23.6  +1.9a  28.2  37.8  +2.7a    14.2  13.5

         9
0
1    -2.1a
2     -2.0
3    -3.4a
4    -2.0a
..     ...
179  -5.6a
180  -1.0a
181  -1.3a
182  -4.4a
183   +0.8

[184 rows x 10 columns]

In [32]:
# Manually define Row 1 and Row 2
row_1 = ["Country", "Both sexes", "", "", "Male", "", "", "Female", "", ""]
row_2 = [" ", "2000", "2019", "Trend2", "2000", "2019", "Trend2", "2000", "2019", "Trend2"]

# Add Row 1 and Row 2 to the DataFrame
convert_data.loc[-1] = row_1
convert_data.loc[-2] = row_2
convert_data.index = convert_data.index + 2  # Shift the index
convert_data.sort_index(inplace=True)  # Sort the index

# Display the DataFrame
print(convert_data)

               0           1     2       3     4     5       6       7     8  \
0                       2000  2019  Trend2  2000  2019  Trend2    2000  2019
1        Country  Both sexes                Male                Female
2        Country  Both sexes                Male                Female
3    Afghanistan         7.7   6.0   -1.8a   7.6   6.2   -1.7a     7.8   5.7
4        Albania         5.2   3.7    -2.0   7.6   5.3   -2.0a     2.9   2.2
..           ...         ...   ...     ...   ...   ...     ...     ...   ...
181    Venezuela         6.4   2.1   -6.2a  11.3   3.7   -6.2a     1.7   0.7
182     Viet Nam         7.2   7.2   +0.4a   9.4  10.6   +1.1a     5.2   4.2
183        Yemen         8.5   7.1   -1.1a  10.5   9.0   -1.0a     6.5   5.3
184       Zambia        24.0  14.4   -2.2a  35.9  25.7   -1.4a    14.5   5.3
185     Zimbabwe        20.0  23.6   +1.9a  28.2  37.8   +2.7a    14.2  13.5

          9
0    Trend2
1
2
3     -2.1a
4      -2.0
..      ...
181   -5.6a
182   -1.0a
183   -1.3a
184   -4.4a
185    +0.8

[186 rows x 10 columns]

In [33]:
# Manually define Row 1 and Row 2
row_1 = ["Country", "Both sexes", "", "", "Male", "", "", "Female", "", ""]
row_2 = [" ", "2000", "2019", "Trend2", "2000", "2019", "Trend2", "2000", "2019", "Trend2"]

# Add Row 1 and Row 2 to the DataFrame
convert_data.loc[-1] = row_1
convert_data.loc[-2] = row_2
convert_data.index = convert_data.index + 2  # Shift the index
convert_data.sort_index(inplace=True)  # Sort the index

# Format the DataFrame nicely
formatted_data = convert_data.to_string(index=False, header=None)

# Display the formatted DataFrame
print(formatted_data)

                               2000  2019 Trend2  2000   2019 Trend2   2000  2019 Trend2
                 Country Both sexes               Male               Female
                               2000  2019 Trend2  2000   2019 Trend2   2000  2019 Trend2
                 Country Both sexes               Male               Female
                 Country Both sexes               Male               Female
             Afghanistan        7.7   6.0  -1.8a   7.6    6.2  -1.7a    7.8   5.7  -2.1a
                 Albania        5.2   3.7   -2.0   7.6    5.3  -2.0a    2.9   2.2   -2.0
                 Algeria        4.7   2.6  -3.4a   5.9    3.3  -3.3a    3.5   1.9  -3.4a
                  Angola       17.6  12.6  -2.1a  30.0   21.7  -2.0a    6.2   4.7  -2.0a
                 Antigua        2.0   0.3      -   4.5    0.0      -    0.0   0.6      -
               Argentina        9.2   8.1  -0.7a  16.0   13.5  -0.8a    3.4   3.3   -0.6
                 Armenia        3.3   2.7   -0.3   5.5    4.9   -0.2    1.7   1.0   -0.3
               Australia       11.8  11.3   +0.6  18.8   17.0   +0.2    5.0   5.6  +1.6a
                 Austria       15.8  10.4  -1.8a  24.9   16.6  -1.9a    7.9   4.6  -2.1a
              Azerbaijan        3.4   4.0   -0.1   5.8    6.6   -0.1    1.3   1.5   -0.5
                 Bahamas        2.5   3.4  +1.5a   4.2    5.8  +1.6a    1.1   1.2   +0.1
                 Bahrain        7.0   7.2  -1.9a  10.2    9.9  -2.1a    2.5   2.3  -2.4a
              Bangladesh        6.9   3.9  -3.5a  10.0    6.0  -3.1a    3.5   1.7  -4.3a
                Barbados        2.6   0.3 -10.0a   4.9    0.5  -8.7a    0.5   0.2      -
                 Belarus       37.3  16.5  -4.7a  69.3   30.1  -4.8a    9.5   5.3  -3.5a
                 Belgium       18.3  13.9  -1.3a  27.0   19.6  -1.6a   10.1   8.4  -0.6a
                  Belize       10.0   7.7  -0.9a  17.2   13.6   -0.7    2.9   1.8  -2.6a
                   Benin       14.7  12.7  -0.8a  23.6   20.3  -0.8a    7.5   6.1  -1.1a
                  Bhutan        6.9   5.1  -1.6a   8.6    6.8  -1.2a    5.0   3.1  -2.6a
                 Bolivia        8.4   6.8  -0.7a  11.8    9.6  -0.8a    5.2   4.2  -0.7a
  Bosnia and Herzegovina        8.1   8.3   -0.3  13.3   13.5   -0.3    3.5   3.4  -0.3a
                Botswana       46.3  20.2  -4.4a  76.2   35.5  -4.0a   20.6   7.8  -5.3a
                  Brazil        4.5   6.4  +1.6a   7.4   10.3  +1.5a    1.8   2.8  +2.0a
                  Brunei        1.7   2.5  +2.6a   3.0    4.2   +1.9    0.4   0.8      -
                Bulgaria       14.0   6.5  -3.9a  21.8   10.6  -3.7a    7.1   2.9  -4.5a
            Burkina Faso       16.9  14.4  -0.5a  27.6   24.5  -0.2a    9.2   6.5  -1.6a
                 Burundi       23.4  12.1  -3.3a  35.5   18.9  -3.0a   13.6   6.4  -4.1a
              Cabo Verde       18.2  15.2  -0.8a  33.3   27.4  -1.1a    6.8   5.1  -1.3a
                Cambodia        6.8   5.5  -1.2a   9.2    8.4  -0.5a    5.0   3.1  -2.7a
                Cameroon       19.1  15.9  -1.2a  29.8   25.2  -1.1a    9.7   7.6  -1.5a
                  Canada       10.7  10.3   +0.1  16.6   15.3   -0.1    5.0   5.4  +0.8a
Central African Republic       32.5  23.0  -1.2a  53.7   39.6  -1.0a   14.6   9.3  -2.1a
                    Chad       15.7  13.2  -0.9a  24.8   20.2  -1.1a    7.7   6.9  -0.4a
                   Chile       10.5   8.0  -1.1a  19.0   13.4  -1.5a    2.9   3.0   +0.4
                   China       14.9   6.7  -4.5a  15.5    8.6  -3.4a   14.5   4.8  -6.0a
                Colombia        5.3   3.7  -1.5a   8.4    6.0  -1.3a    2.6   1.7  -2.4a
                 Comoros       10.9   8.5  -1.1a  14.5   11.3  -1.0a    7.6   5.8  -1.3a
                   Congo       24.7  11.6  -3.4a  38.5   18.3  -3.4a   14.1   6.1  -3.7a
              Costa Rica        6.9   7.6   -0.4  12.3   13.3   -0.6    1.6   1.9   +0.4
           Côte d’Ivoire       24.0  15.7  -1.9a  37.5   25.7  -1.6a    8.4   5.0  -2.3a
                 Croatia       16.3  11.0  -2.0a  27.1   17.7  -2.1a    6.9   5.1  -1.7a
                    Cuba       15.6  10.2  -1.5a  22.7   16.7  -1.0a    8.9   4.1  -3.3a
                  Cyprus        1.9   3.2  +5.1a   2.6    5.3  +6.3a    1.2   1.1   +0.6
                 Czechia       13.4   9.5  -1.2a  22.6   15.4  -1.5a    5.1   3.8  -0.8a
               DPR Korea       10.3   8.2  -0.7a  12.3   10.6   -0.2    8.9   6.3  -1.4a
                DR Congo       14.5  12.4  -1.0a  24.9   20.7  -1.1a    5.7   5.0  -1.0a
                 Denmark       12.5   7.6  -2.3a  18.9   11.1  -2.3a    6.4   4.2  -2.3a
                Djibouti       12.1  11.9   +0.1  17.1   16.3   -0.2    7.5   7.6   +0.2
      Dominican Republic        4.9   5.1  +1.1a   8.3    8.5  +1.1a    1.6   1.9  +1.3a
                 Ecuador        6.8   7.7   +0.2   9.6   11.9   +0.8    4.2   3.6  -1.3a
                   Egypt        3.6   3.4   -0.3   4.7    4.7   +0.2    2.7   2.2  -1.1a
             El Salvador        6.7   6.1   -0.9  10.6   11.1   -0.4    3.4   2.1  -2.4a
       Equatorial Guinea       19.4  13.5  -0.9a  31.0   18.5  -1.7a    7.8   8.8  +1.3a
                 Eritrea       23.4  17.3  -1.3a  38.4   27.2  -1.5a    9.6   8.3  -0.5a
                 Estonia       25.0  12.0  -3.8a  43.1   20.2  -4.0a    9.6   4.5  -3.2a
                Eswatini       40.6  40.5   -0.8  65.5   78.7   +0.4   20.9   6.4  -7.5a
                Ethiopia       18.4   9.5  -3.8a  25.9   14.2  -3.3a   11.2   5.2  -4.6a
                    Fiji       11.7   9.5  -0.6a  15.3   13.1   -0.2    8.2   6.0  -1.4a
                 Finland       21.7  13.4  -2.5a  33.3   20.1  -2.7a   10.4   6.8  -2.1a
                  France       15.8   9.7  -2.6a  24.2   15.2  -2.3a    8.3   4.5  -3.3a
                   Gabon       19.4  13.1  -1.5a  33.2   23.3  -1.2a    7.5   3.8  -3.4a
                  Gambia       11.1   9.6  -0.9a  15.3   13.3  -1.0a    7.1   6.2  -0.8a
                 Georgia        6.6   7.7  +2.1a  11.9   14.0  +2.3a    2.2   2.2   +0.3
                 Germany       11.2   8.3  -1.4a  17.6   12.8  -1.6a    5.3   3.9  -1.3a
                   Ghana        9.8  10.5   +0.3  17.2   20.0   +0.7    2.9   1.8  -3.0a
                  Greece        2.9   3.6  +2.6a   4.6    5.9  +2.5a    1.2   1.5  +3.4a
                 Grenada        2.1   0.6  -8.5a   3.8    0.5      -    0.6   0.7      -
               Guatemala       13.5   6.2  -5.5a  24.0   10.3  -6.0a    4.1   2.5  -3.4a
                  Guinea        9.7  12.3  +1.6a  13.7   18.4  +1.9a    6.7   8.0  +1.3a
           Guinea-Bissau       17.5  12.4  -1.6a  28.7   19.8  -1.8a    8.8   6.7  -1.3a
                  Guyana       35.8  40.9  +0.5a  57.6   65.0   +0.5   14.5  17.0   +0.4
                   Haiti       12.7  11.2  -0.4a  14.7   14.9  +0.5a   11.1   8.0  -1.5a
                Honduras        3.0   2.6   +0.2   5.1    4.4   +0.3    1.1   1.0  -0.8a
                 Hungary       26.6  11.8  -3.7a  44.7   19.1  -3.9a   11.0   5.5  -3.1a
                 Iceland       12.7  11.2   -0.2  19.3   18.7   +0.6    6.0   3.5  -3.1a
                   India       19.1  12.9  -2.3a  20.9   14.7  -2.2a   17.4  11.1  -2.4a
               Indonesia        3.8   2.6  -2.2a   5.5    4.0  -2.0a    2.1   1.2  -3.1a
                    Iran        8.0   5.1  -1.5a  10.1    7.5   -0.3    5.9   2.8  -3.7a
                    Iraq        5.3   4.7   +0.0   7.2    7.3  +0.6a    3.4   2.4  -1.3a
                 Ireland       12.1   8.9  -1.4a  19.8   14.3  -1.4a    4.4   3.6  -1.1a
                  Israel        6.8   5.2  -1.4a  11.0    8.3  -1.5a    2.8   2.1  -1.3a
                   Italy        5.5   4.3  -0.8a   8.7    6.7  -0.9a    2.7   2.1  -0.9a
                 Jamaica        2.1   2.3  +1.1a   3.3    3.6  +1.0a    0.9   1.0  +1.3a
                   Japan       18.1  12.2  -1.9a  26.8   17.5  -2.2a    9.6   6.9  -1.4a
                  Jordan        3.5   2.0  -3.4a   4.5    3.0  -2.5a    2.4   0.9  -6.0a
              Kazakhstan       39.4  18.1  -4.2a  71.7   30.9  -4.5a   11.4   6.9  -2.9a
                   Kenya       15.8  11.0  -1.7a  24.8   18.1  -1.5a    8.2   5.3  -2.0a
                Kiribati       35.6  30.6  -0.6a  62.6   53.6  -0.6a   11.1   9.5  -0.6a
                  Kuwait        3.1   2.7  -0.9a   4.1    3.8   -0.3    1.5   0.7  -4.5a
              Kyrgyzstan       17.6   8.3  -3.5a  30.7   13.5  -3.8a    5.5   3.5  -1.9a
                 Lao PDR        8.7   6.0  -2.0a  11.0    8.6  -1.3a    6.5   3.5  -3.5a
                  Latvia       29.6  16.1  -3.0a  54.3   29.0  -3.0a    9.4   4.6  -3.9a
                 Lebanon        3.0   2.8   -0.2   3.7    3.9  +0.6a    2.4   1.7  -1.8a
                 Lesotho       42.6  87.5  +6.0a  73.9  146.9  +5.7a   16.0  34.6  +6.1a
                 Liberia        8.8   7.4  -0.7a  11.0    9.4  -0.6a    6.7   5.5  -0.7a
                   Libya        5.3   4.5   +0.1   7.1    6.1   +0.2    3.3   2.9   +0.3
               Lithuania       45.8  20.2  -3.4a  80.7   36.1  -3.4a   15.3   6.2  -3.4a
              Luxembourg       13.4   8.6  -2.8a  20.3   11.8  -3.6a    7.1   5.4   -1.2
              Madagascar       10.8   9.2  -1.0a  15.5   13.3  -0.9a    6.1   5.4  -0.8a
                  Malawi       19.2  10.6  -2.4a  31.8   20.0  -1.8a    8.4   3.3  -4.1a
                Malaysia        6.1   5.8  -0.5a   9.1    9.0   -0.3    3.1   2.4  -1.3a
                Maldives        5.3   2.8  -3.1a   8.1    4.1  -3.4a    2.3   0.9  -4.9a
                    Mali        8.8   8.0  -0.4a  10.6   10.5   +0.0    7.2   5.7  -1.0a
                   Malta        6.0   5.3   +0.2   9.8    8.4   +0.5    2.4   2.3   -0.6
              Mauritania        6.4   5.5  -0.8a   8.2    7.4  -0.6a    4.9   3.9  -1.2a
               Mauritius       11.5   8.8   -0.8  18.4   15.0   -0.5    4.9   2.5  -2.1a
                  Mexico        3.9   5.3  +2.0a   6.9    8.7  +1.7a    1.1   2.2  +3.6a
              Micronesia       28.0  29.0  +0.3a  43.4   44.3  +0.2a   13.0  13.2  +0.3a
                Mongolia       23.6  18.0  -1.5a  37.6   31.1  -1.1a   10.2   5.6  -2.8a
              Montenegro       18.9  16.2  -0.8a  28.9   25.4  -0.7a    9.8   7.9  -1.1a
                 Morocco       10.8   7.3  -2.3a  13.9   10.1  -2.0a    8.0   4.7  -2.8a
              Mozambique       20.9  23.2  +0.9a  36.2   42.6  +1.2a    8.8   8.9   +0.6
                 Myanmar        5.1   3.0  -2.8a   8.1    5.1  -2.2a    2.6   1.1  -5.0a
                 Namibia       27.5  13.5  -4.1a  47.5   24.9  -3.9a   11.4   4.4  -4.8a
                   Nepal       10.9   9.8   -0.3  19.4   18.6   +0.2    2.8   2.9  +0.5a
             Netherlands        8.1   9.3  +1.1a  11.2   12.5  +0.9a    5.2   6.1  +1.3a
             New Zealand       12.4  10.3  -0.9a  20.8   15.4  -1.2a    4.4   5.4   +0.0
               Nicaragua        6.3   4.7  -1.7a   9.3    7.8  -1.5a    3.6   1.9  -2.4a
                   Niger        9.5  10.1  +0.3a  12.6   14.1  +0.6a    6.7   6.4  -0.2a
                 Nigeria        9.2   6.9  -1.7a  13.7   10.1  -1.7a    5.1   3.8  -2.0a
         North Macedonia        8.7   7.2  -1.6a  12.5   11.0  -1.5a    4.9   3.5  -1.9a
                  Norway       13.0   9.9  -1.0a  19.9   13.4  -1.5a    6.1   6.3   +0.1
                    Oman        6.7   4.5  -2.5a  10.1    6.4  -2.9a    2.0   1.1  -3.1a
                Pakistan       11.1   9.8  -0.8a  16.1   14.6  -0.7a    5.7   4.8  -1.2a
                  Panama        5.9   2.9  -4.4a  10.4    4.8  -4.5a    1.5   1.0  -3.6a
        Papua New Guinea        2.8   3.6  +1.1a   4.4    5.2  +0.9a    1.4   1.9  +1.4a
                Paraguay        3.6   6.2  +3.0a   4.8    9.0  +3.5a    2.5   3.3  +1.5a
                    Peru        3.4   2.7  -0.8a   4.6    4.1   -0.2    2.4   1.4  -2.3a
             Philippines        2.3   2.5  +1.4a   3.5    3.9  +1.6a    1.1   1.3  +1.5a
                  Poland       15.3   9.3  -1.9a  26.8   16.5  -1.8a    4.7   2.4  -2.9a
                Portugal        5.5   7.2   +0.4   9.5   11.6   +0.1    2.1   3.5  +1.3a
                   Qatar        7.6   4.7  -2.8a  10.0    5.7  -3.3a    2.6   1.7  -2.1a
       Republic of Korea       13.9  21.2   +1.1  20.4   29.7   +1.0    8.2  13.4   +1.0
                 Moldova       16.3  12.2  -1.9a  30.7   22.1  -2.0a    4.2   3.3  -2.0a
                 Romania       11.3   7.3  -2.1a  19.4   12.6  -2.1a    3.7   2.4  -2.4a
      Russian Federation       48.9  21.6  -4.1a  88.8   38.2  -4.3a   13.4   7.2  -3.1a
                  Rwanda       25.6   9.5  -4.9a  38.8   14.8  -4.7a   14.0   5.0  -5.2a
             Saint Lucia        8.1   6.9   -0.4  14.5   12.5   -0.4    2.1   1.5  -1.1a
           Saint Vincent        6.5   1.0      -  12.6    1.3      -    0.5   0.7      -
                   Samoa       16.3  14.6  -0.5a  24.1   20.9  -0.7a    7.8   7.8   +0.2
   Sao Tome and Principe        2.2   2.2   -0.2   3.2    3.3   -0.1    1.4   1.2  -0.8a
            Saudi Arabia        3.8   5.4  +2.8a   5.7    7.8  +2.6a    1.4   1.9  +3.2a
                 Senegal       14.4  11.0  -1.3a  23.5   18.5  -1.1a    6.8   5.2  -1.2a
                  Serbia       18.9   7.9  -7.6a  29.0   12.2  -8.1a   10.1   3.9  -6.9a
              Seychelles        9.8   7.7  -1.2a  18.4   14.0  -1.5a    1.7   1.3  -1.4a
            Sierra Leone       10.1  11.3   +0.2  14.4   14.8   -0.2    6.5   8.2  +0.9a
               Singapore       11.4   9.7  -2.0a  15.2   12.7  -1.9a    7.8   6.4  -2.7a
                Slovakia       12.6   9.3  -1.8a  21.9   16.7  -1.7a    4.3   2.6  -2.2a
                Slovenia       25.6  14.0  -3.4a  40.4   22.7  -3.3a   12.6   5.5  -4.2a
         Solomon Islands       17.4  17.4   +0.3  32.0   32.2  +0.3a    2.1   2.4  +1.3a
                 Somalia       16.8  14.7  -0.8a  26.0   22.8  -0.8a    7.9   7.1  -0.5a
            South Africa       26.6  23.5  -0.8a  42.7   37.9  -0.6a   11.6   9.8  -1.5a
             South Sudan        7.9   6.7  -0.9a  12.4   10.4  -1.0a    3.9   3.4  -0.8a
                   Spain        6.6   5.3  -0.8a  10.5    7.9  -1.1a    3.0   2.8   +0.0
               Sri Lanka       27.4  12.9  -3.7a  41.5   20.9  -3.3a   14.0   6.1  -3.9a
                   Sudan        5.6   4.8  -0.8a   7.2    6.3  -0.7a    4.0   3.3  -0.9a
                Suriname       25.0  25.9  -0.3a  38.8   41.3   -0.2   11.8  11.8   -0.1
                  Sweden       12.2  12.4   +0.1  17.1   16.9   -0.1    7.5   7.7   +0.4
             Switzerland       15.9   9.8  -2.8a  23.7   14.2  -2.7a    8.6   5.7  -3.0a
                   Syria        2.0   2.1  +0.5a   3.2    3.5  +0.7a    0.9   0.8   +0.1
              Tajikistan        5.1   5.3  +0.7a   7.3    7.4  +0.4a    2.9   3.4  +1.5a
                Thailand       11.6   8.0  -2.1a  16.4   13.9  -1.2a    7.1   2.3  -5.4a
             Timor-Leste        4.9   4.5   -0.2   6.5    6.7   +0.4    3.3   2.4  -1.7a
                    Togo       17.3  14.8  -1.0a  27.0   24.0  -0.8a    8.6   6.5  -1.7a
                   Tonga        5.1   4.4   -0.2   6.7    5.9   -0.1    3.6   2.9  -0.5a
     Trinidad and Tobago       16.2   8.3  -3.2a  26.4   13.1  -3.5a    6.3   3.7  -1.8a
                 Tunisia        3.9   3.2  -1.6a   5.2    4.6  -1.1a    2.6   1.8  -2.3a
                  Turkey        4.2   2.3  -2.9a   6.7    3.6  -3.2a    1.9   1.2  -2.2a
            Turkmenistan       13.8   6.1  -5.9a  23.7    9.4  -6.5a    4.6   2.9  -3.6a
                  Uganda       21.7  10.4  -4.5a  38.6   19.4  -4.2a    8.6   3.7  -5.4a
                 Ukraine       33.5  17.7  -3.7a  62.7   32.7  -3.8a    8.5   4.7  -3.2a
    United Arab Emirates        8.0   5.2  -2.4a   9.3    6.3  -2.3a    4.7   2.6  -3.1a
          United Kingdom        7.7   6.9   +0.0  12.0   10.4   -0.1    3.6   3.4   +0.2
                Tanzania       15.6   8.2  -3.1a  24.5   13.5  -2.8a    8.1   3.7  -3.7a
United States of America       10.0  14.5  +1.9a  16.4   22.4  +1.6a    4.0   6.8  +2.7a
                 Uruguay       14.5  18.8  +1.5a  25.7   31.1  +1.4a    5.1   7.7  +1.3a
              Uzbekistan       12.0   8.3  -1.5a  19.6   11.8  -2.2a    4.8   4.9  +0.7a
                 Vanuatu       23.2  21.0  -0.4a  36.0   33.1  -0.3a   10.1   9.0  -0.6a
               Venezuela        6.4   2.1  -6.2a  11.3    3.7  -6.2a    1.7   0.7  -5.6a
                Viet Nam        7.2   7.2  +0.4a   9.4   10.6  +1.1a    5.2   4.2  -1.0a
                   Yemen        8.5   7.1  -1.1a  10.5    9.0  -1.0a    6.5   5.3  -1.3a
                  Zambia       24.0  14.4  -2.2a  35.9   25.7  -1.4a   14.5   5.3  -4.4a
                Zimbabwe       20.0  23.6  +1.9a  28.2   37.8  +2.7a   14.2  13.5   +0.8

In [23]:
# Read only the first row of the CSV file
first_row = pd.read_csv("convertcsv.csv", nrows=1)

# Display the first row
print(first_row)

                           Countries1  Both sexes  Male  Female
2000 2019 Trend2 2000 2019     Trend2        2000  2019  Trend2

In [19]:
# https://stackoverflow.com/questions/18039057/pandas-parser-cparsererror-error-tokenizing-data

Having a hard time converting this ###....https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9476842/table/T1/?report=objectonly